.container{
    height: 100%;
    padding: 42px;
}

mat-sidenav-container{
    height: 100%;
    mat-sidenav-content{
        padding: 42px;
    }
}

mat-card.mat-card{
    box-shadow: 0px 0px 0px;
}
