mat-card.mat-card{
    box-shadow: 0px 0px 0px;
    padding: 24px 16px;
    .task-label{
        font-weight: 500;
    }
    .grey-text{
        font-weight: 500;
        font-size: 13px;
        color: grey;
    }
}