<mat-card>
    <mat-card-content>
        <div fxLayout fxLayoutGap="10px">
            <div fxLayout fxLayoutAlign="start center"  fxFlex="5"><img src="../../assets/icons/baseline_drag_indicator_black_18dp.png"></div>
            <div fxLayout fxLayoutAlign="start center" fxFlex="60" class="task-label">{{ todo.task }}</div>
            <div fxLayout fxLayoutAlign="start center"  fxFlex="10" class="grey-text">{{ todo.time }}</div>
            <div fxLayout fxLayoutAlign="start center"  fxFlex="10" class="grey-text">{{ todo.delivery }}</div>
            <div fxLayout fxLayoutAlign="start center"  fxFlex="10">{{ todo.status }}</div>
            <div fxLayout fxLayoutAlign="start center"  fxFlex="5"><img src="../../assets/icons/baseline_drag_indicator_black_18dp.png"></div>
        </div>
    </mat-card-content>
</mat-card>
